{:platform.system.server/jetty   {:host    #or [#env HOST "0.0.0.0"]
                                  :port    #or [#env PORT 8000]
                                  :join?   false
                                  :handler #ig/ref :platform.system.server/handler}
 :platform.system.server/handler {:db "provided"}}
